/* variables and fonts */

:root {
    --background: #3d6b38;
    --background-light: #5d9b56;
    --background-dark: #324f2f;
    --background-transparent: #3d6b3800;
    --text: #f8f3e8;
    --link: #afd4ab;
    font-family: "Nyght", serif;
}

@font-face {
    font-family: "Nyght";
    src: url("/fonts/NyghtSerif-Regular.woff2") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nyght";
    src: url("/fonts/NyghtSerif-RegularItalic.woff2") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Necto Mono";
    src: url("/fonts/NectoMono-Regular.woff2") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*general styles*/

body {
    background-color: var(--background);
    color: var(--text);
}

hr {
    height: 1px;
    width: 100%;
    margin: 2rem 0;
    background-color: var(--text);
    border: none;
}

i {
    font-style: italic;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;

    ul {
        display: flex;
        gap: 0.5rem;
        justify-content: flex-end;

        li {
            width: 5rem;
            text-align: right;
        }

        a {
            color: var(--link);
            font-family: "Nyght";
            font-style: italic;
            text-decoration: none;
        }
    }

    .left {
        font-size: 5rem;
        height: 2.2rem;
        overflow: clip;
        border-radius: 0.3rem;

        .left-content {
            margin-top: -1.6rem;
            font-style: italic;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: right;
    }
}
