---
const today = new Date();
---

<footer>
    <div class="left"><div class="left-content">sr</div></div>
    <div class="right">
        <div>&copy; {today.getFullYear()} Sam Randa. All rights reserved.</div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/files/sr-resume.pdf">Resume</a></li>
        </ul>
        <ul>
            <li><a href="mailto:mail@samranda.com">Email</a></li>
            <li>
                <a href="https://www.linkedin.com/in/sam-randa/">LinkedIn</a>
            </li>
            <li>
                <a href="https://bsky.app/profile/performative.bsky.social">
                    Bluesky
                </a>
            </li>
        </ul>
    </div>
</footer>
