/* variables and fonts */

:root {
    --background: #3d6b38;
    --background-light: #5d9b56;
    --background-transparent: #3d6b3800;
    --text: #f8f3e8;
    font-family: "Nyght", serif;
}

@font-face {
    font-family: "Nyght";
    src: url("../fonts/NyghtSerif-Regular.woff2") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nyght";
    src: url("../fonts/NyghtSerif-RegularItalic.woff2") format("truetype");
    font-weight: normal;
    font-style: italic;
}

/* general styles */

html {
    overflow-x: clip;
}

body {
    background-color: var(--background);
    color: var(--text);
    overflow-x: clip;
    position: relative;
}

a {
    font-style: italic;
    text-decoration: none;
    color: var(--text);
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 3px 5px;

    &:hover {
        background-color: var(--background-light);
    }
}

#container {
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

header {
    display: flex;
    flex-direction: column;

    #title {
        font-size: min(0.2 * calc(100vw - 4rem), 9rem);
        text-wrap: nowrap;
        text-align: center;
    }

    .subtitle {
        font-size: min(0.05 * calc(100vw - 4rem), 2rem);
        display: flex;
        justify-content: space-between;
    }
}

#socials,
#buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    a:hover {
        background-color: transparent;
    }
}

#socials img {
    width: clamp(20px, 6vw, 40px);
    height: clamp(20px, 6vw, 40px);
}

#projects {
    font-size: clamp(1.2rem, 0.05 * calc(100vw - 4rem), 1.5rem);
    line-height: 2;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.project {
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: clamp(100px, 20vw, 200px);
        z-index: -1;
        opacity: 0.2;
        transition: ease-in-out 0.6s;
        transition-property: width, opacity;
        transform: translate(-50%, -50%);

        @starting-style {
            opacity: 0;
        }
    }

    &:hover > img {
        opacity: 1;
        width: clamp(150px, 30vw, 300px);
        z-index: 1;
    }
}

html.no-js .project {
    position: relative;

    img {
        left: 50%;
    }
}
